.wrapper {
  display: grid;
  gap: min(12px, 2dvw);
  margin: 0 auto;
  padding: min(12px, 2dvw);
  width: min(100%, 1280px);
}

.article {
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l);
  border-radius: 3px;
  display: grid;
  padding: min(12px, 2dvw) min(12px, 2dvw) calc(min(12px, 2dvw) * 1.5);
}

.inner {
  display: grid;
  gap: min(12px, 2dvw);
  justify-content: flex-start;
  justify-items: flex-start;
}

.h2 {
  font-size: 2.1rem;
}

.checkbox {
  font-size: 1.3rem;
}

.button {
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l);
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 6px 12px;
}

.button:disabled {
  opacity: 0.5;
}
