.footer {
  align-items: center;
  background: hsl(from var(--card) h s l);
  border-top: 1px solid hsl(from var(--border) h s l);
  display: flex;
  height: 60px;
}

.inner {
  align-items: center;
  display: flex;
  gap: min(12px, 2dvw);
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 min(12px, 2dvw);
  width: min(100%, 1280px);
}

.copyright {
  font-size: 1.2rem;
}
