.container {
  @media (width >= 740px) {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100dvh;
  }
}

.header {
  inset: 0 0 auto;
  position: fixed;
  z-index: 100;
}

.main {
  margin-top: 60px;
  @media (width < 740px) {
    margin-bottom: calc(60px + env(safe-area-inset-bottom));
  }
}

.footer {
  @media (width < 740px) {
    display: none;
  }
}

.mobileMenu {
  inset: auto 0 0;
  position: fixed;

  @media (width >= 740px) {
    display: none;
  }
}
