.container {
  @media (width >= 740px) {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100dvh;
  }
}

.header {
  inset: 0 0 auto;
  position: fixed;
  z-index: 100;
}

.main {
  margin-top: 60px;
  @media (width < 740px) {
    margin-bottom: calc(60px + env(safe-area-inset-bottom));
  }
}

.footer {
  @media (width < 740px) {
    display: none;
  }
}

.mobileMenu {
  inset: auto 0 0;
  position: fixed;

  @media (width >= 740px) {
    display: none;
  }
}

.scrollToTop {
  background-color: hsl(from var(--card) h s l) !important;
  border: 1px solid hsl(from var(--border) h s l) !important;
  box-shadow: none !important;
  color: hsl(from var(--foreground) h s l) !important;
  inset: auto 0 0 auto !important;
  margin: min(18px, 2dvw);

  @media (width < 740px) {
    bottom: calc(60px + env(safe-area-inset-bottom)) !important;
  }
}
