.header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #cbd1da;
  display: flex;
  height: 60px;
  position: relative;
}

.inner {
  align-items: center;
  color: #999;
  display: flex;
  gap: min(12px, 2dvw);
  margin: 0 auto;
  padding: 0 min(12px, 2dvw);
  width: min(100%, 1280px);
}

.link {
  aspect-ratio: 1220 / 184;
  height: min(36px, 7.2dvw);
  position: relative;
}

.link2 {
  display: block;
  height: 100%;
}

.h1 {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.form {
  align-items: center;
  border: 1px solid #cbd1da;
  border-radius: 50dvmax;
  display: flex;
  gap: 6px;
  padding: 3px 6px;
  width: 300px;

  @media (width < 740px) {
    display: none;
  }
}

.input,
.input2 {
  font-size: 1.4rem;
  width: 100%;
}

.searchButton {
  @media (width >= 740px) {
    display: none;
  }
}

.menuButton {
  @media (width < 740px) {
    display: none;
  }
}

.menuText {
  font-size: 1.4rem;
  padding: 0 0 0 6px;
}

.inner2 {
  align-items: center;
  background: #fff;
  color: #999;
  display: flex;
  gap: min(12px, 2dvw);
  inset: 0;
  margin: 0 auto;
  padding: 0 min(12px, 2dvw);
  position: absolute;
  transform: translateY(-100%);
  transition: transform 250ms;
}

.inner2.show {
  transform: translateY(0);
}

.form2 {
  align-items: center;
  border: 1px solid #cbd1da;
  border-radius: 50dvmax;
  display: flex;
  gap: 6px;
  padding: 3px 6px;
  width: 100%;
}
