.container {
  margin: 0 auto;
  padding: min(12px, 2dvw);
  width: min(100%, 1280px);
}

.list {
  display: grid;
  gap: min(12px, 2dvw);
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.link {
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l / 0.5);
  display: block;
  padding: 12px 6px;
  text-align: center;
}

.name {
  font-size: 1.4rem;
}
