.tabList {
  background: #fff;
  border-top: 1px solid #cbd1da;
  display: flex;
  height: calc(60px + env(safe-area-inset-bottom));
  padding: 0 0 env(safe-area-inset-bottom);
}

.tab {
  align-items: center;
  color: #999;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.active {
  color: #bdc3c7;
}
