.wrapper {
  display: grid;
  gap: min(12px, 2dvw);
  margin: 0 auto;
  padding: min(12px, 2dvw);
  width: min(100%, 1280px);
}

.texts {
  align-items: center;
  display: flex;
  gap: min(12px, 2dvw);
}

.badge {
  align-items: center;
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l);
  color: hsl(from var(--muted) h s l);
  display: flex;
  font-size: 1.1rem;
  gap: 3px;
  padding: 3px 3px 3px 9px;
}

.count {
  font-size: 1.4rem;
}

.list {
  display: grid;
  gap: min(12px, 2dvw);
  grid-template: auto / repeat(auto-fill, minmax(270px, 1fr));

  @media (width < 740px) {
    grid-template-columns: repeat(1, minmax(270px, 1fr));
  }
}

.item {
  background: hsl(from var(--card) h s l);

  @media (width < 740px) {
    display: grid;
    grid-template: auto / calc(264px / 1.75) 1fr;
  }
}

.thumbnail {
  aspect-ratio: 264 / 138;
  position: relative;
}

.detail {
  display: grid;
  gap: calc(min(12px, 2dvw) / 3);
  padding: calc(min(12px, 2dvw) / 2);
}

.title {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.25;
  overflow: hidden;
  word-break: break-all;
}

.meta {
  color: hsl(from var(--muted) h s l);
  font-size: 1.1rem;
  line-height: 1.375;
}

.category,
.writer {
  cursor: pointer;
}

.loading {
  padding: min(12px, 2dvw) 0;
}

.completed {
  font-size: 1.4rem;
}
