.container {
  display: grid;
  gap: min(12px, 2dvw);
  margin: 0 auto;
  padding: min(12px, 2dvw);
  width: min(100%, 1280px);
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.texts {
  align-items: center;
  display: flex;
  gap: min(12px, 2dvw);
}

.count {
  font-size: 1.4rem;
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: min(12px, 2dvw);
  justify-content: flex-end;
}

.button {
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l);
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 6px 12px;
}

.button:disabled {
  background: hsl(from var(--foreground) h s l);
  color: hsl(from var(--background) h s l);
}

.list {
  display: grid;
  gap: min(12px, 2dvw);
  grid-template: auto / repeat(auto-fill, minmax(270px, 1fr));
}

.item {
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l / 0.5);
}

.link {
  @media (width <= 574px) {
    display: grid;
    grid-template-columns: 35% 1fr;
  }
}

.thumbnail {
  aspect-ratio: 264 / 138;
  position: relative;
}

.image {
  object-fit: cover;
}

.detail {
  display: grid;
  gap: min(12px, 2dvw);
  padding: calc(min(12px, 2dvw) / 2);
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.25;
}

.meta {
  /* align-items: center; */
  display: flex;
  gap: calc(min(12px, 2dvw) / 3);
  justify-content: space-between;

  @media (width <= 574px) {
    align-items: flex-end;
  }
}

.metaButtons {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: calc(min(12px, 2dvw) / 3);
}

.category,
.writer {
  border: 1px solid hsl(from var(--border) h s l);
  border-radius: 6px;
  font-size: 1.1rem;
  padding: 3px 6px;
}

.publishedAt {
  font-size: 1.2rem;
  padding: 3px 0;
  text-align: right;
}

.completed {
  font-size: 1.4rem;
}
