.overlay {
  backdrop-filter: blur(1px);
  background: hsl(from var(--card) h s calc(l * 0.9));
  inset: 0;
  position: fixed;
  z-index: 1;
}

.dateRangePicker {
  border: 1px solid hsl(from var(--border) h s l);
}

.dateRangePicker :global(.rdrDefinedRangesWrapper) {
  display: none;
}

.dateRangePicker :global(.rdrMonthAndYearPickers) {
  flex-direction: row-reverse;
}

.content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.inner {
  display: grid;
  gap: 12px;
  justify-items: center;
}

.button {
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l);
  border-radius: 3px;
  font-size: 1.4rem;
  padding: 6px 12px;
}
