.container {
  margin: 0 auto;
  padding: min(12px, 2dvw);
  width: min(100%, 640px);
}

.inner {
  display: grid;
  gap: min(12px, 2dvw);
}

.label {
  align-items: center;
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l / 0.5);
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding: min(12px, 2dvw);
}

.labelText {
  font-size: 1.4rem;
}
