.container {
  background: hsl(from var(--card) h s l);
  height: 60px;
  inset: 0;
  position: absolute;
}

.inner {
  align-items: center;
  display: grid;
  gap: 12px;
  grid-template-columns: auto 1fr;
  height: 100%;
  margin: 0 auto;
  padding: 0 min(12px, 2dvw);
  width: min(100%, 1280px);
}

.searchContainer {
  align-items: center;
  background: hsl(from var(--card) h s l);
  border: 1px solid hsl(from var(--border) h s l);
  border-radius: 50dvmax;
  display: grid;
  font-size: 1.4rem;
  grid-template-columns: 1fr auto auto;
  overflow: hidden;
}

.searchInput {
  padding: 3px 0 3px 12px;
}

.clearButton {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 6px;
}

.clearButton:disabled {
  opacity: 0;
}

.submitButton {
  align-items: center;
  background: hsl(from var(--background) h s l);
  border-left: 1px solid hsl(from var(--border) h s l);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 3px 12px;
}
